<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyApp</title>
</head>
<body class="flex flex-col min-h-screen bg-secondary landing-page font-p">

  <!-- Navbar -->
  <nav class="bg-primary shadow-md shadow-primary font-p">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
      <a class="dynamic-h2 text-muted font-bold" href="#">MyApp</a>
      <div>
        <a class="dynamic-h2 btn btn-ghost mr-8 font-semibold text-muted" href="/landing">Home</a>
        <a class="dynamic-h2 btn btn-ghost mr-8 font-semibold text-muted" href="/profile/readonly">Log in</a>
      </div>
    </div>
  </nav>

  <!-- Banner -->
  <section class="flex flex-wrap bg-primary mt-12 py-32">
    <div class="w-full md:w-1/2 flex items-center justify-center">
      <div class="text-center py-24 md:p-0">
        <h1 class="dynamic-h1 mb-4 font-bold">Welcome to MyApp</h1>
        <h2 class="dynamic-h2">Your one-stop solution for all your needs.</h2>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex items-center justify-center">
      <!-- Animations container -->
      <app-tangram3d></app-tangram3d>
    </div>
  </section>

  <section>
    <video src="../../../assets/images/2616637-hd_1920_1080_30fps.mp4" type="video/mp4" class="w-3/4 m-auto mt-20 mb-10" controls></video>
    <track src="../../../assets/images/sample.srt" kind="subtitles" srclang="en" label="English">
  </section>

  <!-- Cards Section -->
  <section class="py-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="card bg-primary shadow-md shadow-primary pb-5 rounded-md">
        <figure class="w-full"><img src="../../../assets/images/143-400x200.jpg" alt="Card Image 1" class="rounded-md w-full"></figure>
        <div class="card-body mx-5">
          <h2 class="dynamic-h2 font-bold text-muted my-2">Card Title 1</h2>
          <p class="dynamic-p text-muted mb-10">Card description goes here.</p>
          <div class="card-actions justify-end">
            <app-button type="submit" impact="bold" shape="rounded" size="medium">Learn More</app-button>
          </div>
        </div>
      </div>

      <div class="card bg-primary shadow-md shadow-primary pb-5 rounded-md">
        <figure class="w-full"><img src="../../../assets/images/143-400x200.jpg" alt="Card Image 1" class="rounded-md w-full"></figure>
        <div class="card-body mx-5">
          <h2 class="dynamic-h2 font-bold text-muted my-2">Card Title 2</h2>
          <p class="dynamic-p text-muted mb-10">Card description goes here.</p>
          <div class="card-actions justify-end">
            <app-button type="submit" impact="bold" shape="rounded" size="medium">Learn More</app-button>
          </div>
        </div>
      </div>

      <div class="card bg-primary shadow-md shadow-primary pb-5 rounded-md">
        <figure class="w-full"><img src="../../../assets/images/143-400x200.jpg" alt="Card Image 1" class="rounded-md w-full"></figure>
        <div class="card-body mx-5">
          <h2 class="dynamic-h2 font-bold text-muted my-2">Card Title 3</h2>
          <p class="dynamic-p text-muted mb-10">Card description goes here.</p>
          <div class="card-actions justify-end mr-8">
            <app-button type="submit" impact="bold" shape="rounded" size="medium">Learn More</app-button>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Photo Gallery/Carousel -->
<div class="container m-auto">
  <div class="responsive aspect-video">
    <div *ngFor="let slide of slides">
      <img class="w-full" [src]="slide.imageSrc" alt="Slide Image" />
    </div>
  </div>
</div>

  <br>

  <!-- Footer -->
  <footer class="bg-primary text-muted shadow-md shadow-primary mt-auto">
    <div class="container mx-auto px-4 py-4 text-center">
      <p class="dynamic-p font-semibold">&copy; 2024 MyApp. All rights reserved. <a href="/terms" class="underline">Terms and conditions</a></p>
    </div>
  </footer>

</body>
</html>
