<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
    id="main-content"
    class="bg-secondary dark:text-muted scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
    <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
      <router-outlet></router-outlet>

      <!-- Profile Information Form -->
      <div class="text-muted">
        <div class="card-body">
          <h2 class="dynamic-h1 mb-2">Edit Profile Information</h2>
          <form class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3" (ngSubmit)="saveProfile()">
            <div class="form-control">
              <label class="label">
                <span class="label-text">First Name</span>
              </label>
              <input [(ngModel)]="firstname" name="firstname" type="text" placeholder="First Name" class="input input-bordered" (keydown)="handleEvent(0,0)" (mouseenter)="handleEvent(0,1)" (click)="handleEvent(0,4)" (focus)="handleFocus(0)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Last Name</span>
              </label>
              <input [(ngModel)]="lastname" name="lastname" type="text" placeholder="Last Name" class="input input-bordered" (keydown)="handleEvent(1,0)" (mouseenter)="handleEvent(1,1)" (click)="handleEvent(1,4)" (focus)="handleFocus(1)" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Birthdate</span>
              </label>
              <input [(ngModel)]="birthdate" name="birthdate" type="date" class="input input-bordered" (keydown)="handleEvent(2,0)" (mouseenter)="handleEvent(2,1)" (click)="handleEvent(2,4)" (focus)="handleFocus(2)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Gender</span>
              </label>
              <div class="flex space-x-10">
                <label class="radio">
                  <input [(ngModel)]="gender" name="gender" type="radio" value="femenine" class="radio-radio" (click)="handleEvent(3,4)" (mouseenter)="handleEvent(3,1)" (focus)="handleFocus(3)"/>
                  <span class="radio-text">Femenine</span>
                </label>
                <label class="radio">
                  <input [(ngModel)]="gender" name="gender" type="radio" value="masculine" class="radio-radio" (click)="handleEvent(3,4)" (mouseenter)="handleEvent(3,1)" (focus)="handleFocus(3)"/>
                  <span class="radio-text">Masculine</span>
                </label>
              </div>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Phone Number</span>
              </label>
              <input [(ngModel)]="phone" name="phone" type="text" placeholder="Phone Number" class="input input-bordered" (keydown)="handleEvent(4,0)" (mouseenter)="handleEvent(4,1)" (click)="handleEvent(4,4)" (focus)="handleFocus(4)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Profile Picture</span>
              </label>
              <input [(ngModel)]="profilePicture" name="profilePicture" type="file" accept="image/*" class="block w-full dynamic-p text-muted border bg-primary rounded-lg cursor-pointer focus:outline-none" (click)="handleEvent(5,4)" (mouseenter)="handleEvent(5,1)" (focus)="handleFocus(5)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Username</span>
              </label>
              <input [(ngModel)]="username" name="username" type="text" placeholder="Username" class="input input-bordered" (keydown)="handleEvent(6,0)" (mouseenter)="handleEvent(6,1)" (click)="handleEvent(6,4)" (focus)="handleFocus(6)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input [(ngModel)]="password" name="password" type="password" placeholder="Password" class="input input-bordered" (keydown)="handleEvent(7,0)" (mouseenter)="handleEvent(7,1)" (click)="handleEvent(7,4)" (focus)="handleFocus(7)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input [(ngModel)]="email" name="email" type="email" placeholder="Email" class="input input-bordered" (keydown)="handleEvent(8,0)" (mouseenter)="handleEvent(8,1)" (click)="handleEvent(8,4)" (focus)="handleFocus(8)"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Location</span>
              </label>
              <div #mapContainer [ngStyle]="{
                width: '100%',
                height: '180px',
                borderColor: 'var(--primary)',
                backgroundColor: 'var(--secondary)',
                color: 'var(--primary)'
              }"  class="mt-2 border-2 border-primary rounded shadow bg-primary text-primary" (dragend)="handleEvent(9,6)" (scroll)="handleEvent(9,5)" (mouseenter)="handleEvent(9,1)" (click)="handleEvent(9,4)" (focus)="handleFocus(9)"></div>
              <p-autoComplete
                [(ngModel)]="query"
                name="location"
                [suggestions]="displayDataDirection"
                (completeMethod)="search($event)"
                (onSelect)="moveMap($event)"
                placeholder="Search for a location"
                field="displayName"
                [dropdown]="true"
                class="mt-4"
                (click)="handleEvent(9,4)" (mouseenter)="handleEvent(9,1)" (keydown)="handleAutocompleteSelection(9)" (focus)="handleFocus(9)">
              </p-autoComplete>
            </div>

            <div class="form-control">
              <label class="label">
                <span class="label-text">Timezone</span>
              </label>
              <select [(ngModel)]="timezone" name="timezone" class="text-muted"
              (click)="handleEvent(10,4)"
                (mouseenter)="handleEvent(10,1)"
                (keydown)="handleAutocompleteSelection(10)"
                (scroll)="handleEvent(10,5)"
                (focus)="handleFocus(10)">
                <option value="UTC-12:00">UTC-12:00</option>
                <option value="UTC-11:00">UTC-11:00</option>
                <option value="UTC-10:00">UTC-10:00</option>
                <option value="UTC-09:00">UTC-09:00</option>
                <option value="UTC-08:00">UTC-08:00</option>
                <option value="UTC-07:00">UTC-07:00</option>
                <option value="UTC-06:00">UTC-06:00</option>
                <option value="UTC-05:00">UTC-05:00</option>
                <option value="UTC-04:00">UTC-04:00</option>
                <option value="UTC-03:00">UTC-03:00</option>
                <option value="UTC-02:00">UTC-02:00</option>
                <option value="UTC-01:00">UTC-01:00</option>
                <option value="UTC+00:00">UTC+00:00</option>
                <option value="UTC+01:00">UTC+01:00</option>
                <option value="UTC+02:00">UTC+02:00</option>
                <option value="UTC+03:00">UTC+03:00</option>
                <option value="UTC+04:00">UTC+04:00</option>
                <option value="UTC+05:00">UTC+05:00</option>
                <option value="UTC+06:00">UTC+06:00</option>
                <option value="UTC+07:00">UTC+07:00</option>
                <option value="UTC+08:00">UTC+08:00</option>
                <option value="UTC+09:00">UTC+09:00</option>
                <option value="UTC+10:00">UTC+10:00</option>
                <option value="UTC+11:00">UTC+11:00</option>
                <option value="UTC+12:00">UTC+12:00</option>
              </select>
            </div>

            <div class="form-control w-full max-w-xs">
              <label class="label">
                <span class="label-text">Country of nationality</span>
              </label>
              <p-autoComplete
                [(ngModel)]="query2"
                name="Nationality"
                [suggestions]="displayDataDirection2"
                (completeMethod)="search2($event)"
                placeholder="Search for your country"
                field="displayName"
                class="mt-4"
                (click)="handleEvent(11,4)"
                (mouseenter)="handleEvent(11,1)"
                (keydown)="handleAutocompleteSelection(11)"
                (scroll)="handleEvent(11,5)"
                (focus)="handleFocus(11)">
              </p-autoComplete>
            </div>

            <div class="form-control">
              <label class="label">Profile Photo</label>
              <input type="file" (change)="onFileChange($event)" accept=".png, .jpg" class="mt-1 block" />
            </div>
            <div class="form-control col-span-full pt-16">
              <div class="flex justify-center">
                <app-button type="submit" impact="bold" shape="rounded" size="medium" (focus)="handleFocus(12)" (mouseenter)="handleEvent(12,1)" (click)="handleSaveClick()">Save</app-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr>
          <th class="border border-muted px-4 py-2">Field</th>
          <th class="border border-muted px-4 py-2">K</th>
          <th class="border border-muted px-4 py-2">P</th>
          <th class="border border-muted px-4 py-2">H</th>
          <th class="border border-muted px-4 py-2">M</th>
          <th class="border border-muted px-4 py-2">B</th>
          <th class="border border-muted px-4 py-2">Scrolling</th>
          <th class="border border-muted px-4 py-2">D</th>
          <th class="border border-muted px-4 py-2">R</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of counters; let i = index">
          <td class="border border-muted px-4 py-2">{{ fields[i] }}</td>
          <td class="border border-muted px-4 py-2" *ngFor="let counter of row; let j = index">
            <button (click)="incrementCounter(i, j)">{{ counter }}</button>
          </td>
        </tr>
      </tbody>
    </table>


    <!-- footer -->
    <app-footer></app-footer>

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
