<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content -->
    <div
    id="main-content"
    class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
    <div class="mx-auto px-4 py-4 sm:px-8 lg:container">
      <router-outlet></router-outlet>

      <!-- Profile Information Form -->
      <div class="card bg-base-100">
        <div class="card-body">
          <h2 class="card-title">Profile Information</h2>
          <form class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
            <div class="form-control">
              <label class="label">
                <span class="label-text">First Name</span>
              </label>
              <input type="text" placeholder="First Name" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Last Name</span>
              </label>
              <input type="text" placeholder="Last Name" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Birthdate</span>
              </label>
              <input type="date" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Gender</span>
              </label>
              <div class="flex space-x-">
                <label class="radio">
                  <input type="radio" name="genre" value="femenine" class="radio-radio" />
                  <span class="radio-text">Femenine</span>
                </label>
                <label class="radio">
                  <input type="radio" name="genre" value="masculine" class="radio-radio" />
                  <span class="radio-text">Masculine</span>
                </label>
              </div>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Nationality</span>
              </label>
              <input type="text" placeholder="Last Name" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Profile Picture</span>
              </label>
              <input type="date" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Username</span>
              </label>
              <input type="text" placeholder="Username" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Password</span>
              </label>
              <input type="password" placeholder="Password" class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Email</span>
              </label>
              <input type="email" placeholder="Email" class="input input-bordered" />
            </div>
            <div class="form-control col-span-full">
              <button class="btn btn-primary w-full">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


    <!-- footer -->
    <app-footer></app-footer>

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>