<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-navbar></app-navbar>

    <!-- Main content -->
    <div
      id="main-content"
      class="bg-secondary text-muted scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="mx-auto px-4 sm:px-8 lg:container">
        <div class="text-center">
          <h1 class="w-full mb-2 dynamic-h2">Multimedia</h1>
          <p class="w-full mb-4 dynamic-p">Select the type of multimedia you want to upload</p>
          <select (change)="onSelectChange($event)" [value]="selectedPage" class="w-44">
            <option value="images">Images</option>
            <option value="audios">Audios</option>
            <option value="video">Video</option>
            <option value="pdf">PDF</option>
            <option value="terms-and-conditions">Terms and Conditions</option>
          </select>
        </div>
        <div *ngIf="selectedPage === 'images'">
          <h2>Upload Images</h2>
          <p>Select them in the order you want them to appear</p>

          <!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white p-4 rounded shadow-lg">
    <h2 class="text-lg font-bold mb-4 text-red-500">Confirm Deletion</h2>
    <p>Are you sure you want to delete?</p>
    <div class="mt-4 flex justify-end">
      <button class="btn btn-secondary mr-2" (click)="cancelDeleteIMG()">Cancel</button>
      <button class="btn btn-danger text-red-600" (click)="confirmDeleteIMG()">Delete</button>
    </div>
  </div>
</div>

          <form>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div>
                <input type="file" accept=".jpg,.jpeg,.png,.gif" multiple (change)="onImageChange($event)">
                <p *ngIf="imageValidationMessage" class="text-muted">{{ imageValidationMessage }}</p>
              </div>
                
                <table class="table-auto border-separate border border-muted">
                  <thead class="border border-muted">
                    <tr class="border border-muted">
                      <th class="border border-muted">Original Name</th>
                      <th class="border border-muted">Miniature</th>
                      <th class="border border-muted">Size (KB)</th>
                      <th class="border border-muted">File Extension</th>
                      <th class="border border-muted">Action</th>
                    </tr>
                  </thead>
                  <tbody class="border border-muted">
                    <tr *ngFor="let image of tableImages" class="border border-muted">
                      <td class="border border-muted">{{ image.name }}</td>
                      <td class="border border-muted">
                        <img [src]="image.dataUrl" alt="Miniature" width="50">
                      </td>
                      <td class="border border-muted">{{ (image.size / 1024).toFixed(2) }}</td>
                      <td class="border border-muted">{{ image.extension }}</td>
                      <td class="border border-muted">
                        <button type="button" class="dynamic-h2" (click)="openDeleteModalIMG(image)">Delete</button>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="mt-4 text-center">
              <button type="button" class="dynamic-h2" (click)="saveImages()">Save</button>
            </div>
          </form>
        </div>
        <div *ngIf="selectedPage === 'audios'">
          <h2>Upload Audios</h2>
          <p>They will appear in the same order as in the table</p>
                    <!-- Modal -->
<div *ngIf="showModal" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-white p-4 rounded shadow-lg">
    <h2 class="text-lg font-bold mb-4 text-red-500">Confirm Deletion</h2>
    <p>Are you sure you want to delete?</p>
    <div class="mt-4 flex justify-end">
      <button class="btn btn-secondary mr-2" (click)="cancelDeleteAudio()">Cancel</button>
      <button class="btn btn-danger text-red-600" (click)="confirmDeleteAudio()">Delete</button>
    </div>
  </div>
</div>
          <form>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div class="grid-cols-1">
                  <input type="file" accept=".mp3,.wav,.ogg" (change)="onAudioChange($event)">
                  <p *ngIf="audioValidationMessage" class="text-muted">{{ audioValidationMessage }}</p>
              </div>
              <table class="table-auto border-separate border border-muted">
                <thead class="border border-muted">
                  <tr class="border border-muted">
                    <th class="border border-muted">Name</th>
                    <th class="border border-muted">Play</th>
                    <th class="border border-muted">Action</th>
                  </tr>
                </thead>
                <tbody class="border border-muted">
                  <tr *ngFor="let audio of tableAudios" class="border border-muted">
                    <td class="border border-muted">{{ audio.name }}</td>
                    <td class="border border-muted">
                      <audio [src]="audio.dataUrl" controls></audio>
                    </td>
                    <td class="border border-muted">
                      <button type="button" class="dynamic-h2" (click)="openDeleteModalAudio(audio)">Delete</button>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-4 text-center">
              <button type="button" class="dynamic-h2" (click)="saveAudios()">Save</button>
            </div>
          </form>
          
        </div>
        <div *ngIf="selectedPage === 'video'">
          <h2>Upload Video</h2>
          <form>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div class="grid-cols-1">
                <input type="file" accept=".mp4" (change)="onVideoChange($event)">
                <p>Subtitles (optional)</p>
                <input type="file" accept=".vtt" (change)="onSubtitleChange($event)">
              </div>
              <table class="table-auto border-separate border border-muted">
                <thead class="border border-muted">
                  <tr class="border border-muted">
                    <th class="border border-muted">Name</th>
                    <th class="border border-muted">Duration</th>
                    <th class="border border-muted">format</th>
                  </tr>
                </thead>
                <tbody class="border border-muted">
                  <tr class="border border-muted">
                    <td class="border border-muted">{{ selectedVideo?.name }}</td>
                    <td class="border border-muted">{{ selectedVideo?.duration }}</td>
                    <td class="border border-muted">{{ selectedVideo?.format }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-4 text-center">
              <button type="button" class="dynamic-h2" (click)="saveVideo()">Save</button>
            </div>
          </form>
        </div>
        <div *ngIf="selectedPage === 'pdf'">
          <h2>Upload PDF</h2>
          <form>
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <div class="grid-cols-1">
                <input (change)="onPDFChange($event)" type="file" accept="application/pdf" >
                <div class="mt-4 text-center">
                  <button type="button" class="dynamic-h2" (click)="savePDF()">Save</button>
                </div>
              </div>
              <div *ngIf="selectedPDF">
                <pdf-viewer [src]="selectedPDF.dataUrl" [original-size]="false" [fit-to-page]="true" style="width: 400px; height: 450px;" class="m-auto"></pdf-viewer>
              </div>
            </div>
            
          </form>
          
        </div>
        <div *ngIf="selectedPage === 'terms-and-conditions'">
          <h2>Enter Terms and Conditions</h2>
          <editor apiKey="i5diybtc5es3z3jzxigpkeokhccjnsw7x0xveym2arkt7hm8"
    [(ngModel)]="termsAndConditions"
    [init]="editorConfig">
  </editor>
  <div class="mt-4 text-center">
    <button type="button" class="dynamic-h2" (click)="saveTerms()">Save</button>
  </div>
  <div class="mt-4 text-center" *ngIf="savedContent">
    <h3>Saved Content:</h3>
    <div [innerHTML]="savedContent"></div>
  </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</div>