<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyApp</title>
</head>
<body class="flex flex-col min-h-screen bg-secondary landing-page font-p">

  <!-- Navbar -->
  <nav class="bg-primary shadow-md shadow-primary font-p">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
      <a class="dynamic-h2 text-muted font-bold" href="#">MyApp</a>
      <div>
        <a class="dynamic-h2 btn btn-ghost mr-8 font-semibold text-muted" href="/landing">Home</a>
        <a class="dynamic-h2 btn btn-ghost mr-8 font-semibold text-muted" href="/profile/readonly">Log in</a>
      </div>
    </div>
  </nav>

  <!-- Footer -->
  <footer class="bg-primary text-muted shadow-md shadow-primary mt-auto">
    <div class="container mx-auto px-4 py-4 text-center">
      <p class="dynamic-p font-semibold">&copy; 2024 MyApp. All rights reserved. <a href="/terms" class="underline">Terms and conditions</a></p>
    </div>
  </footer>

</body>
</html>
